.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #eb4d4b;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 38px;
  z-index: 100;
}

.whatsapp:hover {
  background-color: #e72b29;
  border-color: #e6201d;
  color: #FFF;
}

.whatsapp-icon {
  margin-top: 13px;
}